# Dataset
data/images/*
data/images-old/
images.zip
csc-hackathon-2023-lunua-task/
scripts/parts/*
urls/*

#
__pycache__/  
.DS_Store
.ipynb_checkpoints/
.idea/
data.zip

# Submit predictions
res.csv
data/submission.csv
data/new-submission.csv
